<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">

            <app-chat-message text="Escribre el texto que quieres que revise." />
            @for (message of messages(); track $index) {
             @if (message.isGpt) {
                <app-gpt-message-orthopraphy 
                    [text]="message.text"
                    [errors]="message.info!.errors" 
                    [userScore]="message.info!.userScore"
                />
            }@else {
                <app-my-message [text]="message.text" />
                }
            }

            @if (isLoading()) {
            <app-typing-loader />
            }

        </div>
    </div>

    <app-text-message-box 
        [placeholder]="'Escribe aqui tu mensaje'" 
        (onMessage)="handleMessage($event)"
        [disableCorrection]="true"
    />



</div>